/* Styling OC webfonts.

   Display: Zodiak (Indian Type Foundry, Fontshare Free Licence — see /fonts/FFL.txt).
   Supplied by the studio; variable across weight 100–900, roman and italic.
   Labels and body: Archivo Variable, self-hosted via @fontsource-variable/archivo
   (imported once in global.css). No third-party font requests at runtime. */

@font-face{
  font-family:"Zodiak";
  src:url("/fonts/Zodiak-Variable.woff2") format("woff2-variations");
  font-weight:100 900;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Zodiak";
  src:url("/fonts/Zodiak-VariableItalic.woff2") format("woff2-variations");
  font-weight:100 900;
  font-style:italic;
  font-display:swap;
}
